* {
    margin: 0px;
    padding: 0px;
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.wrapper {
    width: 400px;
    height:500px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.row {
    border: 1px solid black;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
}

.toprow {
    border: 1px solid black;
    display: flex;
    flex: 1.5;
    flex-direction: row;
    justify-content: center;
}

.display {
    flex: 3;
}

.btn {
    flex: 1;
    border: 1px solid black;
}

.zbtn {
    flex: 2;
    border: 1px solid black;
}

.display {
    border: 1px solid black;
    text-align: right;
}